@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #F5F5F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    background: radial-gradient(circle, rgba(139, 142, 158, 1) 0%, rgba(47, 103, 178, 1) 100%);
    background-image: linear-gradient(to top, rgba(139, 142, 158, 1) 0%, rgba(47, 103, 178, 1) 100%, transparent);

}

h1 {
    font-family: Poppins;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}

span {
    color: #2F67B2;
}

hr {
    margin: 10px 0;
    border-top: 3px solid #BBB;
    border-radius: 5px;
}

footer {
    background: #354361;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(139, 142, 158, 1) 0%, rgb(36, 91, 163) 100%, transparent);
}


.container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background: #FFF;
    max-width: 450px;
    min-height: 300px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.imagem-pokemon-logo,
#imgPokemon {
    text-align: center;
}

.imagem-pokemon-logo img {
    width: 90%;
}

.group-form {
    padding: 5px 0;
}

.group-form label {
    font-weight: 900;
    color: #1B356E;
}

.group-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    font-family: Poppins;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 5px 0;
}

.group-form input[type=submit] {
    background: #1B356E;
    font-weight: 900;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

#imgPokemon img {
    width: 90px;
    border: 1px solid #333;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

#content {
    font-family: monospace;
    padding: 10px;
    background-color: #FFCC01;
    border: 1px solid #c8a102;
    border-radius: 5px;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    color: #333;
}

.instagram,
.linkedin,
.github {
    font-family: Poppins;
    background-image: linear-gradient(to top, rgb(74, 79, 36), rgb(0, 0, 0), rgb(0, 4, 255));
    font-size: 20px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.icon-instagram,
.icon-linkedin,
.icon-github {
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: black;
    margin-right: 10px;
    text-shadow: black 0.1em 0.1em 0.2em;
}